.text_block {
	display: flex;
	flex-direction: column;
	gap: calc(30rem / 16);
	&__accent {
		color: #fbd784;
		font-size: calc(18rem / 16);
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 6px;
		text-transform: uppercase;
		position: relative;
		padding-left: calc(104rem / 16);

		&::before {
			content: '';
			position: absolute;
			width: calc(72rem / 16);
			height: 2px;
			background-color: #fbd784;
			top: 50%;
			left: 0;
		}
	}

	&__title {
		font-size: calc(88rem / 16);
		font-style: normal;
		font-weight: 600;
		line-height: 113%;
		text-transform: capitalize;
	}
}
