.header {
	padding: calc(58rem / 16) 0 0 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: 2.5rem;
		color: #fff;
		font-size: calc(18rem / 16);
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	&__account {
		color: #fff;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: capitalize;
	}
}
