@use 'variables';

.page-info {
	padding: 110px 0;

	&__container {
		display: flex;
	}

	&__body {
		padding: 0 20px 0 0;
		margin: 0 20px 0 0;
		max-width: 481px;
		& > *:not(:last-child) {
			margin: 0 0 30px 0;
		}
		align-self: center;
	}

	&__title {
		font-size: 36px;
		line-height: calc(50 / 36 * 100%);
		font-weight: 700;
		font-family: 'Playfair Display';
	}

	&__text {
		color: $gray_text;
		font-size: 17px;
		line-height: (30/17 * 100%);
	}

	&__button {
		max-width: 164px;
	}

	&__image {
		flex: 0 0 57%;
		position: relative;
		padding: 0 0 42.25% 0;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
}

@media (max-width: 480px) {
}

@media (max-width: 767px) {
	.page-info__image {
		display: none;
	}
	.page-info {
		padding: 80px 0 50px;
	}
}

@media (max-width: 992px) {
}
