*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
  font-family: "Inter";
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1206px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 20px;
}

main {
  padding-top: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

@media (max-width: 767.98px) {
  main {
    padding-top: 30px;
  }
}
._button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  font-size: 15px;
  line-height: 400%;
  max-height: 44px;
  font-size: 15px;
  line-height: 400%;
}
._button_white {
  border: 1px solid #fb8f1d;
  color: #fb8f1d;
}
._button_orange {
  background-color: #fb8f1d;
  color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fafafa;
  padding: 25px 0;
}
.header__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__buttons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 0;
}
.header__button {
  padding: 20px;
  width: 130px;
}
.header__profile {
  display: none;
  position: relative;
  z-index: 100;
}
.header__menu_icon {
  display: none;
  position: relative;
  z-index: 100;
}
.header__logo {
  position: relative;
  z-index: 100;
}
.header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 0;
  gap: 20px;
}

.cross {
  display: none;
}

.burger {
  top: 0;
  left: 0;
  width: 32px; /* Initial width, adjust as needed */
  -webkit-transition: padding 0.8s ease 0.05s;
  transition: padding 0.8s ease 0.05s;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .menu__item {
    position: relative;
    text-align: center;
  }
  .menu__item::before {
    content: "";
    position: absolute;
    bottom: -2px;
    background-color: #000;
    height: 2px;
    padding: 0;
    width: 100%;
    scale: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .menu__item:hover::before {
    content: "";
    position: absolute;
    bottom: -2px;
    background-color: #000;
    height: 2px;
    width: 100%;
    padding: 0 50%;
    scale: 1;
  }
  .menu__item:first-child {
    font-weight: 700;
  }
  .menu__link {
    position: relative;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 14px 0;
  }
  .header__button {
    padding: 0;
  }
  .header__button:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .header__buttons {
    position: relative;
  }
  .header__auth {
    background-color: #fafafa;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 70px;
    padding: 20px;
    margin: -1px 0 0 0;
    right: 0;
    z-index: 2000;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in 0s;
    transition: opacity 0.1s ease-in 0s;
  }
  .header__profile {
    display: block;
    width: 32px;
    height: 32px;
  }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu_icon {
    display: block;
    position: relative;
    z-index: 100;
  }
  .menu {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: right 0.3s ease-in 0s;
    transition: right 0.3s ease-in 0s;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fafafa;
  }
  .menu__list {
    position: relative;
    top: 110px;
    left: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .menu__item {
    padding: 20px 10px;
    width: 100%;
    margin-right: 20px;
    color: #fb8f1d;
    font-weight: 800;
    text-align: center;
  }
}
.page-info {
  padding: 110px 0;
}
.page-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-info__body {
  padding: 0 20px 0 0;
  margin: 0 20px 0 0;
  max-width: 481px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.page-info__body > *:not(:last-child) {
  margin: 0 0 30px 0;
}
.page-info__title {
  font-size: 36px;
  line-height: 138.8888888889%;
  font-weight: 700;
  font-family: "Playfair Display";
}
.page-info__text {
  color: #b8becd;
  font-size: 17px;
  line-height: 176.4705882353%;
}
.page-info__button {
  max-width: 164px;
}
.page-info__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.page-info__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 767px) {
  .page-info__image {
    display: none;
  }
  .page-info {
    padding: 80px 0 50px;
  }
}
.testimonials {
  padding: 110px 0;
  background-color: hsl(0, 0%, 97%);
}
.testimonials__title {
  font-weight: 700;
  font-family: "Playfair Display";
  margin: 0 0 30px 0;
}
.testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  max-width: 321px;
}
.testimonials__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonials__rate img:not(:last-child) {
  margin: 0 10px 0 0;
  border-radius: 10px;
}
.testimonials__quote {
  font-size: 24px;
}
.testimonials__image img {
  border-radius: 10px;
}

@media (max-width: 767px) {
  .testimonials__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .testimonials {
    padding: 50px 0 50px;
  }
  .testimonials__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials__title {
    width: 50vw;
  }
  .testimonials__body {
    width: 50vw;
  }
  .testimonials__content {
    gap: 25px;
  }
}
.stories {
  padding: 110px 0;
}
.stories__top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 50px 0;
}
.stories__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 138.8888888889%;
}
.stories__seemore {
  font-weight: 600;
  font-size: 17px;
  line-height: 352.9411764706%;
  color: #fb8f1d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 30px;
}
.stories__seemore:hover {
  text-decoration: underline;
  font-size: 20px;
}
.stories__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.stories__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.item-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-stories > *:not(:last-child) {
  margin: 0 0 25px 0;
}
.item-stories__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.item-stories__content > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-stories__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 157.8947368421%;
}
.item-stories__text {
  font-size: 15px;
  line-height: 173.3333333333%;
  color: #b8becd;
}
.item-stories__readmore {
  color: #fb8f1d;
  font-weight: 600;
  font-size: 15px;
}
.item-stories__readmore:hover {
  text-decoration: underline;
}
.item-stories__image {
  padding: 40% 0 60% 0;
  display: block;
  position: relative;
  max-height: 230px;
  min-width: 279px;
}
.item-stories__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .stories {
    padding: 50px 0 50px;
  }
}
@media (max-width: 1250px) {
  .stories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 640px) {
  .stories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .stories__seemore {
    display: none;
  }
}
.footer {
  background-color: #f8f8f8;
  padding: 40px 20px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 0 0 20px 0;
}
.footer__rights {
  color: #848484;
}
.footer__socials {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__socials > *:not(:last-child) {
  margin: 0 35px 0 0;
}

@media (max-width: 480px) {
  .footer__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .footer__socials > *:not(:last-child) {
    margin: 0 45px 0 0;
  }
}
@media (max-width: 767px) {
  .footer__socials > *:not(:last-child) {
    margin: 0 35px 0 0;
  }
}
@media (max-width: 992px) {
  .footer__socials > *:not(:last-child) {
    margin: 0 25px 0 0;
  }
}