@use 'variables';

.testimonials {
	padding: 110px 0;
	background-color: hsl(0, 0%, 97%);

	&__title {
		font-weight: 700;
		font-family: 'Playfair Display';
		margin: 0 0 30px 0;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		display: flex;
		flex-direction: column;

		gap: 45px;

		max-width: 321px;
	}

	&__rate {
		display: flex;
		img:not(:last-child) {
			margin: 0 10px 0 0;
			border-radius: 10px;
		}
	}

	&__quote {
		font-size: 24px;
	}

	&__image {
		img {
			border-radius: 10px;
		}
	}
}

@media (max-width: 480px) {
}

@media (max-width: 767px) {
	.testimonials__body {
		flex-wrap: wrap;
		gap: 20px;
	}
	.testimonials {
		padding: 50px 0 50px;
		&__container {
			display: flex;
			flex-direction: column;
			gap: 60px;
			align-items: center;
		}
		&__title {
			width: 50vw;
		}
		&__body {
			width: 50vw;
		}
		&__content {
			gap: 25px;
		}
	}
}

@media (max-width: 992px) {
}
