.park {
	&__container {
		display: flex;
		gap: calc(50rem / 16);
	}

	&__img {
		flex: 0 1 40%;
		height: calc(400rem / 16);
		width: 100%;
		img {
			width: 100%;
			height: calc(400rem / 16);
			object-fit: cover;
			border-radius: 20px;
		}
	}

	&__info {
		flex: 0 1 60%;
		display: flex;
		flex-direction: column;
		gap: calc(50rem / 16);
		max-width: calc(700rem / 16);
	}

	&__cycling_distance {
		text-transform: capitalize;

		span {
			font-weight: 700;
			margin-right: 10px;
		}
	}
	&__order {
		display: flex;
		gap: 1.5rem;

		input {
			padding: 0 20px;
			border: none;
			width: 100px;
		}
	}

	&__submit {
		border-radius: 5px;
		padding: 8px 20px;
		cursor: pointer;	
	}
}
