*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-size: 100%;
	font-family: 'Inter';
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

*[class*='__container'] {
	width: 1000px;
	margin: 0 auto;
}

.header {
	text-align: center;
	margin: 50px 0;
}

.main__body {
	display: flex;
	flex-direction: column;
	gap: 100px;
	box-sizing: content-box;
}

.main__parks {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.park {
	width: 200px;
	height: 370px;
	background-color: #c9c7c7;
	padding: 20px 10px;
	border-radius: 13px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	position: relative;
}
.park img {
	width: 200px;
	height: 100px;
}

.park__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.park__name {
	font-size: 18px;
}

.park__cycling_road_distance {
	display: flex;
	/* gap: 10px; */
	align-items: center;
}

.empty_input {
	background: none;
	border: none;
	height: 20px;
	outline: none;
	width: 2ch;
}

.park__add {
	cursor: pointer;
}

.park__add-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto auto;

	font-size: 60px;
	color: #fafafa;
	font-weight: 900;
	border: 10px solid #fafafa;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.main__helpers {
	display: flex;
	gap: 10px;
	align-items: center;
}

.helper {
	display: flex;
	width: 150px;
	height: 50px;
	background-color: #c9c7c7;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	color: #000;
	align-items: center;
}

input {
	height: 50px;
	box-sizing: border-box;
	padding: 5px 10px;
	display: block;
	flex: 1 1 auto;
}
.park__price,
.park__cycling_road_distance,
.park__address,
.park__name {
	display: flex;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
}

.park__btn {
	text-align: right;
	width: 50px;
	position: absolute;
	bottom: 2px;
	right: 10px;
	cursor: pointer;
}
.park__cancel {
	right: 100px;
}

/* .park__btn {
	display: flex;
	justify-self: flex-end;
	text-transform: capitalize;
	width: 50px;
}

.park__update {
	background-color: #fff;
	border: 1px solid black;
	padding: 10px 20px;
} */
